@using TesteWebMotors.AppService.ViewModel
@model IList<AnuncioView>
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["alertaExcluiu"] != null)
{
    <script type="text/javascript">
        alert('Registro excluído');
    </script>
}
</p>

<p>
    @Html.ActionLink("Adicionar Anuncio", "Criar")
</p>

</p>

<table class="table table-striped table-bordered table-sm" id="tbAnuncios">
    <thead>
        <tr>
            <th class="text-center">Marca</th>
            <th class="text-center">Modelo</th>
            <th class="text-center">Versao</th>
            <th class="text-center">Ano</th>
            <th class="text-center">KM</th>
            <th class="text-center">Observação</th>
            <th class="text-center">Ações</th>
            @*<th class="text-center">Excluir</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Marca</td>
                <td class="text-center">@item.Modelo</td>
                <td class="text-center">@item.Versao</td>
                <td class="text-center">@item.Ano</td>
                <td class="text-center">@item.Quilometragem</td>
                <td class="text-center">@item.Observacao</td>
                <td class="text-center">
                    <form asp-action="Editar" method="post">
                        @Html.ActionLink("Editar", "Editar", new { idAnuncio = item.Id }, new { @class = "btn btn-warning" }) | @Html.ActionLink("Excluir", "Excluir", new { idAnuncio = item.Id }, new { @class = "btn btn-danger" })
                    </form>
                </td>
                @*<td class="text-center">
                    <form asp-action="Excluir" method="post">
                        @Html.ActionLink("Excluir", "Excluir", new { idAnuncio = item.Id }, new { @class = "btn btn-danger"})
                    </form>
                </td>*@
            </tr>
        }
    </tbody>
</table>
